.dark {
    --bg-color: rgb(10 10 91);
    --inverted-bg-color: rgb(181 191 193);
    --primary-color: rgb(2 53 2);
    --secondary-color: rgb(3 151 3);
    --inverted-primary-color: rgb(9 45 96);
    --inverted-secondary-color: rgb(21 80 219);
}
